

<div *ngIf="RssData">
  <h2>
    {{RssData.rss?.channel[0].title || RssData.feed.title}}
  </h2>
  <p>
    Total Item:
    {{RssData.rss?.channel[0].item.length || RssData.feed.entry.length}}
  </p>
  <ul *ngIf="RssData.rss?.channel[0]">
    <li *ngFor="let o of RssData.rss?.channel[0].item"><a href="{{o.link[0]}}" target="_blank">{{o.title[0]}}</a>
      <br>
      <i>{{o.pubDate}}</i>
    </li>
  </ul>
  <ul *ngIf="RssData.feed">
    <li *ngFor="let o of RssData.feed?.entry"><a href="{{o.link[0].$.href}}" target="_blank">{{o.title[0]}}</a>
      <br>
    <i>{{o.updated}}</i>
    </li>
  </ul>
</div>
