form {
  margin: 15% 40%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 2px;
}

div {
  margin: 10px 0;
}

.exitAcc {
  text-align: right;
}

.exitAcc button {
  padding: 10px 15px;
  margin: 10px 40px;
  background-color: aqua;
}

.exitAcc button:hover {
  background-color: blue;
}


